@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);

  --font-stack-headings: 'Poppins', sans-serif;
  --font-stack-body: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-stack-body);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--very-dark-cyan);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-stack-headings);
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
button {
  font: inherit;
  line-height: 1;
}

.btn {
  display: inline-block;
  background-color: var(--pink);
  color: white;
  font-weight: 700;
  padding: 0.75rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 50rem;
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.22);
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: var(--light-pink);
  }
}

.container {
  width: min(65rem, 100% - 4rem);
  margin-inline: auto;
}

.wave {
  width: 100%;
  display: block;
}

// ---------------------------------------------
.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 1rem;
  }

  &__cta {
    color: var(--pink);
    font-size: 0.625rem;
    padding: 0.25rem 1.125rem;
    outline: 1px solid;
    border-radius: 50rem;
    box-shadow: 0px 0px 5px hsla(322, 100%, 66%, 0.22);

    &:hover,
    &:focus {
      box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.22);
    }
  }
}

.main {
  text-align: center;

  .hero {
    margin-top: 5.5rem;
    margin-bottom: 7.5rem;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    &__text {
      margin-bottom: 3rem;
    }

    &__cta {
      font-size: 0.75rem;
      margin-bottom: 6.5rem;
    }

    &__image {
      display: block;
    }
  }

  .stats {
    margin-bottom: 1.5rem;

    .container {
      display: grid;
      gap: 5.5rem;

      > div {
        width: fit-content;
        margin-inline: auto;
      }

      img {
        display: block;
        height: 1.625rem;
      }

      dt {
        font-size: 3.75rem;
        font-weight: 700;
      }

      dd {
        font-size: 15.24px;
        color: hsl(208, 12%, 55%);
      }
    }
  }

  .intro {
    background-color: var(--very-pale-blue);
    padding-block: 3rem;

    .container {
      display: grid;
      gap: 2.5rem;
    }

    &__image-container {
      width: 17.5rem;
      aspect-ratio: 1/1;
      margin-inline: auto;
      display: grid;
      place-content: center;
    }

    &__title {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  .conversations {
    padding-block: 5rem;

    .container {
      display: grid;
      gap: 2.5rem;
    }

    &__image-container {
      width: 17.5rem;
      aspect-ratio: 1/1;
      margin-inline: auto;
      display: grid;
      place-content: center;
    }

    &__title {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  .users {
    background-color: var(--very-pale-blue);
    padding-bottom: 8rem;

    .container {
      display: grid;
      gap: 2.5rem;
    }

    &__image-container {
      width: 17.5rem;
      aspect-ratio: 1/1;
      margin-inline: auto;
      display: grid;
      place-content: center;
    }

    &__title {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }

  .outro {
    padding-top: 4rem;
    padding-bottom: 16rem;

    &__title {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &__cta {
      font-size: 0.75rem;
    }
  }
}

.footer {
  position: relative;
  padding: 2.875rem 1.75rem;
  background-color: var(--very-dark-cyan);
  color: white;
  line-height: 1.7;

  &__newsletter {
    margin-bottom: 6.5rem;

    &__title {
      font-size: 1.25rem;
      text-transform: uppercase;
      font-family: var(--font-stack-body);
      margin-bottom: 1rem;
    }

    &__text {
      font-weight: 600;
      margin-bottom: 2rem;
    }

    &__form {
      text-align: right;

      input[type='email'] {
        display: block;
        width: 100%;
        height: 3rem;
        border: none;
        border-radius: 6px;
        margin-bottom: 1rem;
      }

      button {
        background: var(--pink);
        color: white;
        padding: 0.75rem 2.625rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover,
        &:focus {
          background-color: var(--light-pink);
        }
      }
    }
  }

  &__contact {
    &__logo {
      margin-bottom: 1rem;
    }

    &__text {
      font-weight: 600;
    }

    &__details {
      margin-top: 2.5rem;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > div {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 1.5rem;
        }
      }
    }

    &__socials {
      display: flex;
      gap: 1rem;

      a {
        transition: color 0.3s;

        &:hover,
        &:focus {
          color: hsl(192, 100%, 49%);
;
        }
      }

      svg {
        display: block;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .attribution {
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    a {
      color: var(--pink);
    }
  }
}

@media screen and (min-width: 65rem) {
  .btn {
    padding: 1.5rem 6.25rem;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.22);
  }

  .header {
    padding: 5rem;

    &__logo {
      height: 2.375rem;
    }

    &__cta {
      font-size: 1rem;
      padding: 0.375rem 1.875rem;
      box-shadow: 0px 0px 9px hsla(322, 100%, 66%, 0.22);
    }
  }

  .main {
    .hero {
      margin-top: 9rem;
      margin-bottom: 7.5rem;

      &__title {
        font-size: 3rem;
        margin-bottom: 1.625rem;
      }

      &__text {
        font-size: 1.25rem;
        margin-bottom: 3rem;
      }

      &__cta {
        font-size: 1.25rem;
        margin-bottom: 7.5rem;
      }

      &__image {
        display: block;
      }
    }

    .stats {
      margin-bottom: 8rem;

      .container {
        grid-template-columns: repeat(2, 1fr);

        img {
          height: 3.5rem;
        }

        dt {
          font-size: 6rem;
        }

        dd {
          font-size: 1.5rem;
        }
      }
    }

    .intro {
      padding-block: 2rem;

      .container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 6.5rem;
        width: min(73.75rem, 100% - 4rem);
      }

      &__image-container {
        grid-column: 2;
        width: 35rem;
        display: grid;
        place-content: center;
      }

      &__inner {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
      }

      &__title {
        font-size: 2.5rem;
        margin-bottom: 1.625rem;
      }

      &__text {
        font-size: 1rem;
      }
    }

    .conversations {
      padding-top: 6rem;
      padding-bottom: 4rem;

      .container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 6.5rem;
        width: min(73.75rem, 100% - 4rem);
      }

      &__image-container {
        width: 35rem;
        display: grid;
        place-content: center;
      }

      &__inner {
        text-align: left;
      }

      &__title {
        font-size: 2.5rem;
        margin-bottom: 1.625rem;
      }

      &__text {
        font-size: 1rem;
      }
    }

    .users {
      padding-block: 0;

      .container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 6.5rem;
        width: min(73.75rem, 100% - 4rem);
      }

      &__image-container {
        grid-column: 2;
        width: 35rem;
        display: grid;
        place-content: center;
      }

      &__inner {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
      }

      &__title {
        font-size: 2.5rem;
        margin-bottom: 1.625rem;
      }

      &__text {
        font-size: 1rem;
      }
    }

    .outro {
      padding-top: 10rem;
      padding-bottom: 12rem;

      &__title {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
      }

      &__cta {
        font-size: 1.25rem;
      }
    }
  }

  .footer {
    padding: 6.5rem 7.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__newsletter {
      margin-bottom: 0;

      &__title {
        font-size: 1.5rem;
      }

      &__text {
        margin-bottom: 2.5rem;
        width: 21.5rem;
      }

      &__form {
        display: flex;
        gap: 2.5rem;

        input[type='email'] {
          flex: 1;
          height: 3rem;
          margin-bottom: 0;
        }

        button {
          background: var(--pink);
          color: white;
          padding: 0.75rem 2.625rem;
          border: none;
          border-radius: 5px;
          font-size: 1rem;
        }
      }
    }

    &__contact {
      grid-column: 1;
      grid-row: 1;

      &__logo {
        margin-bottom: 1.75rem;
      }

      &__text {
        width: 21.25rem;
      }

      &__details {
        margin-top: 1.5rem;
        margin-bottom: 5rem;
      }

      &__socials {
        svg {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    .attribution {
      font-size: 1rem;
      right: 50%;
      bottom: 2rem;
      transform: translateX(50%);
    }
  }
}